target/classes/customer_existence1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="customer_existence1">
        <logger message="========= Message is ======= #[message]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="a46ccd7e-1378-415e-a1b6-c8c2a6ead43e">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:sap-com:document:sap:soap:functions:mc-style
---
{
	ns0#ZGen001CustExist: {
		Bukrs: inboundProperties."http.query.params".SAPCompanyCode,
		Kunnr: inboundProperties."http.query.params".SAPCustomerCode
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer mimeType="text/xml" doc:name="Byte Array to String"/>
        <logger message="==== Logger Before Consumer ====  #[payload]" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="Web_Service_Consumer" operation="ZGen001CustExist" doc:name="WebServiceConsumer"/>
        <logger message="========== After WS Consumer  ======== #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload" mimeType="application/xml"/>
        <dw:transform-message metadata:id="8dbd9a34-5a83-497a-b6fd-1f1075573b7a" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 urn:sap-com:document:sap:soap:functions:mc-style
---
{
	Name1: payload.ns0#ZGen001CustExistResponse.ECustdet.Name1,
	HouseNum1: payload.ns0#ZGen001CustExistResponse.ECustdet.HouseNum1,
	StrSuppl1: payload.ns0#ZGen001CustExistResponse.ECustdet.StrSuppl1,
	Street: payload.ns0#ZGen001CustExistResponse.ECustdet.Street,
	PostCode1: payload.ns0#ZGen001CustExistResponse.ECustdet.PostCode1,
	City1: payload.ns0#ZGen001CustExistResponse.ECustdet.City1,
	Country: payload.ns0#ZGen001CustExistResponse.ECustdet.Country,
	Region: payload.ns0#ZGen001CustExistResponse.ECustdet.Region,
	PoBox: payload.ns0#ZGen001CustExistResponse.ECustdet.PoBox,
	TelNumber: payload.ns0#ZGen001CustExistResponse.ECustdet.TelNumber,
	FaxNumber: payload.ns0#ZGen001CustExistResponse.ECustdet.FaxNumber,
	SmtpAddr: payload.ns0#ZGen001CustExistResponse.ECustdet.SmtpAddr,
	status: payload.ns0#ZGen001CustExistResponse.Status,
	message: payload.ns0#ZGen001CustExistResponse.Message
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload]--shravani" level="INFO" doc:name="Logger"/>

    </flow>


</mule>
